*{
    margin: 0;
    padding: 0;
}
.container .content > p{
    color: red;
}
.container .content p:last-child{
    color: #008000;
}
.container .child p:first-child{
    color: blueviolet;
}
.container .child p:last-child{
    color: blue;
}
.container .content +p{
    color: chartreuse;
}
.container .child ~p{
    color: orangered;
}
.container ~p{
    color: goldenrod;
}
p .container .content{
    color: red;
}
